<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/stylesheet.css" type="text/css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id='videoFeedContainer'>
      <span>
      <video id='localVideo' autoplay playsinline muted="muted"></video>
    </span>
    <span>
      <video id='remoteVideo' autoplay playsinline></video>
    </span>
  </div>
  <h2>First and foremost, You need video!</h2>
  <button id='webcamButton'>Let's Do it!</button>
  <h2>If you have an ID, try it on, Otherwise it will create one for you!</h2>
  <div id='CallControls'>
  <input id='callIDInput' type="text"></input>
  <button id='callButton' disabled>Connect me Already!!</button>
  <button id='debugButton'>Debug</button>
</div>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <script src="../public/src/client.js" type="module"></script>
  </body>
</html>