* {
  margin: 0;
  padding: 0;
}

#videoFeedContainer {
  display: flex;
  border: 3px solid blue;
  width: calc(100%-60px);
  /* height: 300px; */
  margin: 30px;
}

#videoFeedContainer span {
  /* margin: 2rem; */
  flex: 1;
  width: 100%;
  justify-content: center;
  border: 3px solid red;
  margin: 20px;
  max-width: 80%;
  max-height: 80%;
}

#videoFeedContainer video {
  max-width: 100%;
  max-height: 100%;
}
