* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: pink;
  position: absolute;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/bailey-zindel-NRQV-hBF10M-unsplash.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

button {
  padding: 5px;
  margin: 5px;
}

/* video {
  border: 3px solid white;
} */

input {
  height: 1.5rem;
}

#videoFeedContainer {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}

#remoteVideoContainer {
  z-index: -1;
  position: relative;
}

#localVideoContainer {
  width: 30%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 0;
}

#videoFeedContainer video {
  max-width: 100%;
  max-height: 100%;
}

#controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
